extends ../common/layout.pug

block content
  h2= title

  table.table
    tr
      th Title
      th Keywords
      th Description
      th Status
      th Actions
    for data in datas
      tr
        td= data.title
        td= data.key
        td= data.desc
        td= data.status
        td 
          a.btn.btn-info(href="/admin/page/edit/"+data._id) Edit
          a.btn.btn-danger(href="/admin/page/delete/"+data._id) Delete
    //- tr
    //-   td Home Page
    //-   td demo page, home page
    //-   td This is the Demo Home Page
    //-   td public
    //-   td 
    //-     a.btn.btn-info(href="/admin/page/edit/1") Edit
    //-     a.btn.btn-danger(href="/admin/page/delete/1") Delete